h1{
    color: green;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
h2{
    color: green;
    font-family: Helvetica, sans-serif;
    text-align: right;
}
h3{
    font-family: Comic Sans,Comic Sans MS; cursive;
}
p{
    color: coral;
    font-weight: 800;
    text-decoration: line-through;
    font-family: fantasy;
}
table{
    font-family: Helvetica, sans-serif;
    boader-collaspe:boader-collaspe;
    boader-width: 1px;
    boader-style: solidcolor
    boader: color:#2695a6;
}
th{
    font-weight: 800;
    background-color: #ffffff;
}
tr.alt td{
    background-color: #9aeffc;
}
ul{
    list-style-image: url('Images/pointer-icon.png');
}
ol{
    list-style-type: upper-roman;
}
#menu-bar a{
    font-family: Helvetica, sans-serif;
    text-decoration:none ;
    background-color: aquamarine;
    padding: 5px;
}
#menu-bar a:hover{
    background-color: aqua;
    color: #ffffff;
}